@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Kaushan+Script&display=swap');

*{ margin: 0;
padding:0;
box-sizing: border-box;}

body{ width: 100vw;
    height: 100vh;
    background-color: rgb(214, 243, 255);
    }

    header{position: absolute; 
        width: 100vw;
        height: 80px;
    background: #1a3f38;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

h1{ margin-left : 70px;
margin-top: 15px;
padding-left: 55px;
text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
color: white;
font-family: 'Kaushan Script', sans-serif;
font-size: 35px;
width: 300px;
text-decoration: underline;
/* border: 2px solid white; */
border-radius: 10px;
}


figure{ position:absolute;
top:0;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}   
    figure img{ position: absolute;
        margin-top: 550px;
        opacity: 0.4;

    }

    #container1{width: 550px;
    height: 80px;
    background: rgb(44, 57, 48);
    border-radius: 100px;
    border: 2px solid rgb(255, 255, 255);
position: absolute;
top: 170px;
left: 370px;}
 /* #container1{ display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
} */
#container1 input{
    margin-top: 10px;
    margin-left: 25px;
}
#container1 input{ color: rgb(255, 255, 255);
    border: 2px solid #f1f0f2;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    width: 350px;
    height: 48px;
}
#container1 button{ margin-left: 15px;
margin-top:10px;}
#button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;

    font-size: 17px;
    font-weight: bold;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    background: var(--button_color);
    color: var(--button_outline_color);
    padding: 0.75em 1.5em;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.1s ease;
    margin-left: 10px;
}

#button:hover {
    transform: translateY(-0.2em);
}

#button:active {
    transform: translateY(0);
}


/* css for the main display section  */

#display{ width: 550px;
height: 600px;
border: 2px solid rgba(255, 255, 255, 0.523);
border-radius: 15px;
position: absolute;
top: 290px;
left: 370px;
}   
    #display{ background: rgba(255, 255, 255, 0.107);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    backdrop-filter: blur(10px);}

      /* includes the div, buttons and span that are dynamically added */
          .d-maindiv{ width:530px;
            height: 70px;
            margin-left:10px;
            padding-top:15px;
        margin-top: 20px;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;}
             .d-maindiv{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 8px;
                grid-row-gap: 0px;
                }

                .d-span  { grid-area: 1 / 1 / 3 / 3; }
                .d-span{ margin-left: 20px;
                    margin-bottom:10px;
                    width: 270px;
                    font-family: "Gochi Hand", cursive;}

                
.d-complete{ grid-area: 1 / 3 / 2 / 4; }
           /* From Uiverse.io by mi-series */ 
.d-complete {
    border: none;
    color: rgb(5, 22, 46);
    transform: rotate(3deg);
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #5cdb95;
  }
  
  .d-complete:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
  }
  .d-complete{ width: 90px;
    height: 30px;
    place-content: center;
    margin-left:85px;
margin-bottom: 5px;
  }
  

.d-del { grid-area: 1 / 4 / 2 / 5; }
.d-del{ width: 80px;
    place-content: center;
    margin-bottom: 20px;
 
}
.d-del{
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 14px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  .d-del:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .d-del:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  


 
     


/* css for the bottom section  */

    #socials{ width: 100vw;
        height: 220px;
        position: absolute;
        top: 1050px;
        background: rgb(18, 0, 20);}
         
        #link{ margin-top: 100px;
        margin-left: 50px;}
            #link a { color: aliceblue}
      
            #icons{ position: absolute;
                left: 680px;
                top:40px;
                width: 60px;
                height:100px;} 
                #icons{ 
                    font-size: 20px;}
                    #icons i { color: white;
                        padding-bottom: 10px;
                        padding-right: 8px;
                    }
                    #icons a {width: 100px;
                        height: 35px;
                         display: flex;
                       color: white;
                       margin-top: 15px;
                    } 
           #terms{ position: absolute;
        left: 950px;
    top:55px;
    width:220px;
    height:125px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
     #terms p{
    color: white;
font-size: 18px;}